footer.bg-black.text-light.text-center.p-2
  div.container.fs-5
    span Created by Leong B.S 
    a.link-style-remove.mx-1(href='https://github.com/leongbs34' target='_blank') #[i.bi.bi-github]
    a.link-style-remove.mx-1(href='https://www.linkedin.com/in/leong-boon-sheng-491412198/' target='_blank') #[i.bi.bi-linkedin]
