div.container-md.bg-gray.rounded.p-4.col-12.col-md-6.d-flex.shadow
  img.rounded-circle.bg-light.p-1.border.border-primary.border-2.me-4(src=`images/avatars/${user.avatar}.svg`, alt="User's avatar", width='48px')
  button#btnPostMsg.btn.btn-light.flex-grow-1.text-start.rounded-pill.px-3(type='button' data-bs-toggle="modal" data-bs-target="#postMessageModal") What's on your mind, #{user.first_name}?