* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: #00b7ff;
}

p {
  margin: 0;
  padding: 0;
}

.icon-blue {
  color: #00b7ff;
  font-size: 1.1rem;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.link-style-remove {
  color: inherit;
}

#message i {
  font-size: 3rem;
}

.bg-gray {
  background-color: rgba(50, 57, 63, 0.739);
}

.bg-lightgray {
  background-color: rgba(50, 57, 63);
}

#btnPostMsg {
  transition: 0.25s ease all;
}

#btnPostMsg:hover {
  background-color: rgba(255, 255, 255, 0.774);
}

#clock_icon {
  display: flex;
}

#clock_icon i {
  font-size: 0.7rem;
}

#clock_icon span {
  margin-left: 8px;
  font-size: 0.8rem;
}
